fastapi==0.115.12
uvicorn==0.34.1
SQLAlchemy==2.0.40
requests==2.32.3
python-dotenv==1.1.0
pydantic==2.11.3
pydantic-settings==2.8.1
intuit-oauth==1.2.6
psycopg2-binary==2.9.10
SQLAlchemy-Utils==0.41.2
